* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.navbar {
  height: 72px;
  width: 100rem;
  display: flex;
  position: fixed;
  margin-top: 0px;
  background-color: #101010;
  justify-items: center;
}

.side-bar {
  margin-top: 72px;
  width: 353px;
  background-color: #312929;
  border-radius: 25px;
  overflow: auto;
}

.main-contant {
  flex: 1rem;
  background-color: #1f1f1f;
  /* margin-top: 72px; */
  overflow: auto;
  display: flex;
  border-radius: 25px;
}

.footer {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  bottom: 0px;
  background-image: linear-gradient(90deg, rgb(202, 42, 210), rgb(57, 106, 240));
}



.icon1 {
  font-size: x-large;
  padding: 20px;
  display: flex;
  justify-items: center;

}

.icon2 {
  font-size: x-large;
  padding: 20px;
  display: flex;
  justify-items: center;

}

.search {
  height: 48px;
  width: 370px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  border: 2px solid white;
  opacity: 0.2;

  /* padding: 12px 64px 12px 48px; */
}

.search #name {
  font-size: larger;
  margin: 10px;

}

.search #icon {
  font-size: larger;
  margin: 10px;
}

#input {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 250px;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.search:hover {

  opacity: 1;
}


.btn {
  display: flex;
  align-items: center;
  /* Centers items vertically */
  justify-content: space-evenly;
}

.btn button {

  color: aliceblue;
  margin: 15px;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;

}

.new {
  display: flex;
  align-items: center;
  /* Centers items vertically */
  justify-content: space-evenly;
}

.new button {
  margin: 15px;
  padding: 10px;
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
}

.com {
  display: flex;
  justify-content: center;
  margin-left: 20rem;
  border-radius: 25px;
}

.card_all {
  flex: 1rem;
  margin-top: 72px;
  display: flex;
  overflow: auto;
 
}

.card {
  margin: 5px;
  margin-top: 75px;
  height: 17rem;
  width: 11rem;
  background: transparent;
}

.card:hover {
  border: 2px solid grey;
}

.card-img-top {
  border-radius: 50%;
}

.card a {
  color: white;
  text-decoration: none;
  padding: 1rem;

}

.card a:hover {
  text-decoration: underline;

}

.card p {
  padding-left: 1rem;
}

.text {
  background: transparent;
  padding: 0.5rem;
}

a {
  background: transparent;
  display: inline;
}

p {
  background: transparent;
  font-size: 12px;
  color: rgb(173, 172, 172);
}